# Django
DJANGO_SECRET_KEY=your-secret-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,192.168.1.139

# PostgreSQL
DB_NAME=pitomets_db
DB_USER=pitomets
DB_PASSWORD=pitomets_password
DB_HOST=localhost
DB_PORT=5432
